// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
@import url("https://fonts.googleapis.com/css2?family=Bad+Script&family=Raleway:wght@100;300&display=swap");
@import "~vuetify/src/styles/styles.sass";

/* These are Vuetify SASS variables, modified as needed here */

$body-font-family: "Helvetica" !important;
$line-height-root: 1.2;
//$font-size-root: 20px;

/* These variables are NOT linked to Vuetify SASS */
/* Updated color scheme: #AA988A, #B66A40, #2F414B, #2B4B3C, #7A3520, #7B8BA5 */

$clear: white;
$scroll: #AA988A; // light-brown / beige

$text-color: #AA988A; // light-brown / beige
$success-light: #2B4B3C; // dark-green
$warning-light: #B66A40; // orange-brown
$error-light: #7A3520; // dark-brown
$secondary-color-light: #7B8BA5; // blue-grey
